services:
  # always have shade-agent-api first in order of services
  shade-agent-api:
    environment:
      NEAR_ACCOUNT_ID: ${NEAR_ACCOUNT_ID}
      NEAR_SEED_PHRASE: ${NEAR_SEED_PHRASE}
      API_CODEHASH: ${API_CODEHASH}
      APP_CODEHASH: ${APP_CODEHASH}
      NEXT_PUBLIC_contractId: ${NEXT_PUBLIC_contractId}
      NEAR_RPC_JSON: ${NEAR_RPC_JSON}
      OPENAI_API_KEY: ${OPENAI_API_KEY} 
      NEAR_ACCOUNT_ID: ${NEAR_ACCOUNT_ID}        
      NEAR_SEED_PHRASE: ${NEAR_SEED_PHRASE}      
      PHALA_API_KEY: ${PHALA_API_KEY} 
    platform: linux/amd64 # Explicitly set for TDX
    # shade-agent-api-image
    image: mattdlockyer/shade-agent-api@sha256:a86e3a4300b069c08d629a38d61a3d780f7992eaf36aa505e4527e466553e2e5
    container_name: shade-agent-api
    # DO NOT EXPOSE THE API PORT TO THE PUBLIC
    volumes:
      - /var/run/tappd.sock:/var/run/tappd.sock
    restart: always
  shade-agent-app:
    environment:
      NEXT_PUBLIC_contractId: ${NEXT_PUBLIC_contractId}
    platform: linux/amd64 # Explicitly set for TDX
    # shade-agent-app-image
    image: pivortex/my-app@sha256:ae189f31b3f9367aae56c393cd8edf9a1138f0ca0acf325c8621dd9eaa157f38
    container_name: shade-agent-app
    ports:
      - "3000:3000"
    volumes:
      - /var/run/tappd.sock:/var/run/tappd.sock
    restart: always